.main-div {
    border: 1px solid black;
    width: 300px;
    min-height: 300px;
    padding: 10px 20px;
}

.main-div label {
    margin-bottom: 15px;
    text-decoration: underline;
}

.main-div input {
    display: block;
    margin-bottom: 15px;
}

.main-div input#sameName {
    display: inline-block;
}

.main-div button#andrew-chrome-extension {
    display: block;
}

.sameName-container label {
    text-decoration: none;
}

.main-div input:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-div button#andrew-chrome-extension {
    min-width: 100px;
    padding: 15px;
    background: lightgray;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
